{% extends "layout.html" %}
{% block title %}{{ user.username }} :: {{ config.SITE_NAME }}{% endblock %}
{% block meta_image %}{{ user.gravatar_url() }}{% endblock %}
{% block metatags %}
{% if search.term %}
<meta property="og:description" content="Search for '{{ search.term }}' in torrents uploaded by {{ user.username }}">
{% else %}
<meta property="og:description" content="Torrents uploaded by {{ user.username }}">
{% endif %}
{% endblock %}

{% block body %}
{% from "_formhelpers.html" import render_menu_with_button %}

{% if g.user and g.user.is_moderator %}
	<h2>User Information</h2><br>
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-2" style="max-width: 150px;">
			<img class="avatar" src="{{ user.gravatar_url() }}">
		</div>
		<div class="col-md-5">
			<dl class="dl-horizontal">
				<dt>User ID:</dt>
				<dd>{{ user.id }}</dd>
				<dt>Account created on:</dt>
				<dd>{{ user.created_time }}</dd>
				<dt>Email address:</dt>
				<dd>{{ user.email }}</dd>
				<dt>User class:</dt>
				<dd>{{ user.userlevel_str }}</dd>
				<dt>User status:</dt>
				<dd>{{ user.userstatus_str }}</dt>
				{%- if g.user.is_superadmin -%}
				<dt>Last login IP:</dt>
				<dd>{{ user.ip_string }}</dd><br>
				{%- endif -%}
			</dl>
		</div>
		<div class="col-md-4">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Danger Zone</h3>
				</div>
				<div class="panel-body">
					<form method="POST">
						{{ ban_form.csrf_token }}
						{% if user.is_banned or user.bans %}
						<p>
							This user is <strong>banned</strong>.
							{% for ban in user.bans %}
							<br>#{{ ban.id }} by {{ ban.admin.username }} for {{ ban.reason }}
							{% endfor %}
						</p>
						{{ ban_form.unban_user(class="btn btn-info") }}
						{% else %}
						<p>
							This user is <strong>not banned</strong>.
						</p>
						<div class="pull-left">
							{{ ban_form.ban_user(value="Ban User", class="btn btn-danger") }}
						</div>
						<div class="pull-right">
							{{ ban_form.ban_userip(value="Ban User+IP", class="btn btn-danger") }}
						</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
	{% if admin_form %}
	<form method="POST">
		{{ admin_form.csrf_token }}

		<div class="form-group row">
			<div class="col-md-6">
				{{ render_menu_with_button(admin_form.user_class) }}
			</div>
		</div>
	</form>
	<br>
	{% endif %}
{% endif %}

<h3>
	Browsing <span class="text-{{ user.userlevel_color }}" data-toggle="tooltip" title="{{ user.userlevel_str }}">{{ user.username }}</span>'{{ '' if user.username[-1] == 's' else 's' }} torrents
</h3>

{% include "search_results.html" %}

{% endblock %}
